/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
}

/* generici */

body{
    background-image: url(../img/Sfondo.png);
}

.container{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/* sezione del punteggio */

.score{
    display: flex;
    justify-content: space-between;
}

/* tabellone */

.table{
    width: 480px;
    height: 480px;
    border: 1px solid white;
}
