/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
}

/* generici */

body{
    background-image: url(../img/Sfondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/* sezione del punteggio */

.score{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* tabellone */

.table{
    width: 500px;
    height: 500px;
    border: 1px solid white;
}

/* regole */

.rules{
    margin: 20px 0;
}

ol{
    list-style-position: inside;
}

ol li{
    text-align: left;
    font-size: 16px;
}

/* responsive */

@media screen and (min-width: 769px){
    .container{
        max-width: 700px;
        display: flex;
        gap: 10px;
    }
}