/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Darker Grotesque', sans-serif;
}

/* generici */

body{
    background-image: url(../img/Sfondo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

/* utili */

.hidden{
    display: none;
}

/* sezione del punteggio */

.score{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/* tabellone */

.board{
    width: 500px;
    height: 500px;
    border: 1px solid white;
    position: relative;
}
.grid{
    display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

/* tabelle */

.cell{
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
}

.cell.cell-dark{
    background-color: rgb(210, 202, 202);
}

.cell:hover,
.cell-clicked{
    background-color: rgb(162, 146, 146);
}

.cell.cell-star{
    background-image: url(../img/Stella.png);
    background-size: contain;
    background-color: rgba(242, 52, 31, 0.656);
}

.cell-clicked,
.cell-star{
    cursor: not-allowed;
}

/* overlay */
.end-game{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(242, 52, 31, 0.656);
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.win{
    background-color: rgba(73, 177, 73, 0.687);
}

.restart{
    padding: 15px 20px;
    background-color: rgb(242, 52, 31);
    border: 1px solid black;
    font-size: 24px;
    cursor: pointer;
}

.restart:hover{
    background-color: rgba(242, 52, 31, 0.656);
}


/* regole */

.rules{
    margin: 20px 0;
}

ol{
    list-style-position: inside;
}

ol li{
    text-align: left;
    font-size: 16px;
}

/* responsive */

@media screen and (min-width: 768px){
    .container{
        max-width: 700px;
        display: flex;
        align-items: center;
        gap: 10px;
        
    }

    .board-section{
        margin-bottom: 20px;
    }

    ol li{
        font-size: 24px;
    }
    
}

@media screen and (min-width: 992px){
    .container{
        max-width: 900px;
        gap: 20px;
    }    

    ol li{
        font-size: 32px;
    }
}

@media screen and (min-width: 1080px){
    .container{
        max-width: 1060px;
        gap: 50px;
    }    
}